## Segmenting and Clustering Part 1 - Preparing dataset

First, I import the libraries

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
print('libraries imported')

libraries imported

Use the pandas package to read in the wikipedia data

In [2]:
# Webpage url                                                                                                               
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

# Extract tables
dfs = pd.read_html(url)

# Get first table                                                                                                           
df = dfs[0]

# Get first table                                                                                                           
df.columns = ['PostalCode', 'Borough', 'Neighbourhood']

# Extract columns                                                                                                           
df = df[['PostalCode', 'Borough', 'Neighbourhood']]
df.head()

  PostalCode           Borough              Neighbourhood
0        M1A      Not assigned               Not assigned
1        M2A      Not assigned               Not assigned
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront

Remove when borough is not assigned

In [3]:
df_1 = df[df.Borough!='Not assigned']
df_1.head()

  PostalCode           Borough                                Neighbourhood
2        M3A        North York                                    Parkwoods
3        M4A        North York                             Victoria Village
4        M5A  Downtown Toronto                    Regent Park, Harbourfront
5        M6A        North York             Lawrence Manor, Lawrence Heights
6        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

Group by neighbourhood

In [4]:
df_2 = df_1.groupby(['PostalCode','Borough'])['Neighbourhood'].apply(', '.join).reset_index()
df_2.head()

  PostalCode      Borough                           Neighbourhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

Describe the data

In [5]:
df_2.describe()

       PostalCode     Borough Neighbourhood
count         103         103           103
unique        103          10            99
top           M8Z  North York     Downsview
freq            1          24             4

View the dataset

In [6]:
df_2

    PostalCode      Borough                                      Neighbourhood
0          M1B  Scarborough                                     Malvern, Rouge
1          M1C  Scarborough             Rouge Hill, Port Union, Highland Creek
2          M1E  Scarborough                  Guildwood, Morningside, West Hill
3          M1G  Scarborough                                             Woburn
4          M1H  Scarborough                                          Cedarbrae
..         ...          ...                                                ...
98         M9N         York                                             Weston
99         M9P    Etobicoke                                          Westmount
100        M9R    Etobicoke  Kingsview Village, St. Phillips, Martin Grove ...
101        M9V    Etobicoke  South Steeles, Silverstone, Humbergate, Jamest...
102        M9W    Etobicoke                Northwest, West Humber - Clairville

[103 rows x 3 columns]

Use shape command to show number of rows and columns

In [7]:
df_2.shape

(103, 3)

In [8]:
df_2.to_csv('toronto.csv', index=False)